---
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
import Link from "../ui/Link.astro";
---

<div class="flex gap-2">
  <Link
    href="https://www.linkedin.com/in/raulhinojosaperez/"
    label="Visit LinkedIn page"
    type="icon"
  >
    <LinkedIn />
  </Link>
  <Link
    href="https://github.com/RaulHinojosa24"
    label="Visit GitHub page"
    type="icon"
  >
    <GitHub />
  </Link>
</div>
