---
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
---

<div class="flex gap-2">
  <a
    href="https://www.linkedin.com/in/raulhinojosaperez/"
    target="_blank"
    class="hover:text-white transition-colors"
  >
    <LinkedIn />
  </a>
  <a
    href="https://github.com/RaulHinojosa24"
    target="_blank"
    class="hover:text-white transition-colors"
  >
    <GitHub />
  </a>
</div>
