---
import Section from "../ui/Section.astro";
import ContactLinks from "./ContactLinks.astro";
---

<Section id="landing" next="#about">
  <h1 class="text-5xl font-extrabold text-accent">Raul Hinojosa</h1>
  <h2 class="text-2xl font-bold mt-2">Full-Stack Web Developer</h2>
  <p class="my-3">
    Building creative and functional solutions that solve real-world problems.
  </p>
  <ContactLinks />
</Section>
