---
import ArrowDown from "../icons/ArrowDown.astro";

const { target, isTop, classes } = Astro.props;
---

<a
  aria-hidden="true"
  aria-label=`Scroll ${isTop ? 'up' : 'down'} to ${target}`
  href={target}
  class:list={{
    "top-10 left-1/2 -translate-x-1/2 rotate-180": isTop,
    "bottom-10 left-1/2 -translate-x-1/2": !isTop,
  }}
  class={`absolute p-2 ${classes || ""}`}
>
  <ArrowDown />
</a>

<style>
  a:hover,
  a:active,
  a:focus {
    @apply transition-colors bg-accent/10 text-accent;
  }
</style>
