:root {
  --white: rgb(255, 255, 255);
  --black: #222;
  --blue: #007acc;

  --layout-color: var(--white);
  --background-color: var(--white);
  --accent-color: var(--blue);
  --font-color: #000;
  --nav-color: var(--white);
  --link-color: var(--blue);

  /* Theme toggler variables */
  --toggle-bg-color: var(--black);
  --toggler-color: var(--white);
  --toggle-size: 4rem;

  --primary-color: var(--white);
  --secondary-color: var(--black);

  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  --nav-height: 4rem;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
}

.dark {
  --primary-color: var(--black);
  --secondary-color: var(--white);

  --background-color: var(--black);
  --font-color: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  display: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  transition: background-color 0.1s, color 0.1s;
}
